.tmp{
    /* border: 2px solid white; */
    margin-left: 60%;
    width: 34%;
    position:relative; 
    display: inline-block;
    overflow: hidden;
}

.tmp li{
    list-style: none;
    cursor: pointer;
}

.tmp li:hover{
   /* background-color:rgba(245, 222, 179, 0.096); */
   color: yellow;
}

#main li{
    list-style: none;
    /* height: 200px; */
}

li{
    list-style: none;
}

.items{
    height: 30%;
}


/* #removeFavBtn img{ */
    /* background-color: rgb(255, 60, 0); */ 
    /* background-color: black;
}

#bg{
    background-image: url("img/bg.jpg");
   height: 80vh;
   /* color: aliceblue; */
   /* color: deepskyblue; */
   
/* } */

/* #main{
    padding-left: 0%;
    padding-right: 0%;
    border: 2px solid green;
} */